include /data/site.jade
include /mixins/box-info.jade
include /mixins/nav-tabs.jade
include /mixins/tab-pane.jade

doctype html
html(lang=site.lang)
	block pageData
	include /includes/head.jade
	body
		block content
		include /includes/scripts.jade
		block scripts
